table
{
    border-spacing: 0;
}

th, td
{
    width: 10em;
    text-align: left;
    font-family: Helvetica, Arial;
    font-size: 0.8em;
    border-right: 0.1em solid #C4C3A8;
    padding: 0.4em;
}

th
{
    background-color: #52B506;
    font-weight: normal;
    color: white;
    border-bottom: 0.1em solid black;
}

.noBorder
{
    border: 0;
}

tr:nth-child(2n+1)
{
    background-color: white;
}

tr:nth-child(2n)
{
    background-color: #ECECD8;
}
